<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
  <header class="topheader">
      <img src="/img/untlogo.png" alt="utn logo" class="utnLogo">
      <div class="diseniologo">
          <img src="/img/logosolo.png" alt="diseniologo" style="">
          <p>Diseño de Sistemas</p>
      </div>
  </header>

  <div class="blog-posts">
    <div class="post">
      <a href='/egresos'>
        <img src="../img/1.jpg" alt="" class="post-img">
        <div class="post-content">
          <h3>Egresos</h3>
          <h4>Acceda para poder visualizar, editar o eliminar los egresos del sistema</h4>
        </div>
      </a>
    </div>

    <div class="post">
      <a href='/ingresos'>
        <img src="../img/2.jpg" alt="" class="post-img">
        <div class="post-content">
          <h3>Ingresos</h3>
          <h4>Acceda para poder cargar y visualizar ingresos del sistema</h4>
        </div>
      </a>
    </div>

    <div class="post">
      <a href=''>
        <img src="../img/3.jpg" alt="" class="post-img">
        <div class="post-content">
          <h3>Vinculaciones</h3>
          <h4>Acceda para poder realizar vinculaciones entre los ingresos y egresos del sistema</h4>
        </div>
      </a>
    </div>
  </div>
</body>
</html>
