<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- select2 css -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<!--<link href='select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>-->

<!-- select2 script -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<!--<script src='select2/dist/js/select2.min.js'></script>-->

<script>
 $(document).ready(function(){
  $("#social").select2({
   templateResult: formatState
  });
 });

 function formatState (state) {
  if (!state.id) { return state.text; }
  var $state = $(
   '<span sytle="display: inline-block; width: 10px;"> <img sytle="display: inline-block; width: 10px;" src="/img/' + state.element.value.toLowerCase() + '.jpg" /> ' + state.text +   '</span>'
  );
  return $state;
 }
</script>
</head>
<body>
<select id='social' style='width: 600px;'>
    <option value='1'>Facebook</option>
    <option value='2'>Twitter</option>
    <option value='3'>Linkedin</option>
    <option value='logo utn'>Google Plus</option>
    <option value='vimeo'>Vimeo</option>
</select>

</body>
</html>
