<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/egresos.js"></script>
    <script src="/js/criterios.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <title>Egresos - Nuevo</title>
</head>
<body>
    <header>
        <img class="logo-utn" src="../img/utn svg.png" alt="logo sistemas">
        <img class="logo-sist" src="../img/dieño svg.png " alt="diseniologo" style="">
        <p>La Banda Utniana</p>
    </header>

    <div class="main-container">
        <a href="/" class="btn-border-blue" style="">Volver</a>
        <div class="main-container" style="margin:40px;">
            <form class="" action="/egresos" method="post" >
                <div class="grid-container">

                        <!--PROVEDOORES-->

                        <div class="Proveedor">
                            <p>Seleccione un proovedor:</p>
                            <select class="input-select" name="proveedor">
                                <option selected disabled>Seleccionar</option>
                                {{#each proveedores}}
                                    <option value="{{nroIdentificacion}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <!--FECHA-->

                        <div class="Fecha">
                            <bold>Seleccione la fecha del egreso:</bold>
                            <input type="date" name="fecha"  class="input-datos"></div>

                        <!--CARGAR PRESPUESTO-->

                        <div class="Presupuesto">
                            <form action="/egresos/{{ egreso.id }}/cargar-json-presupuestos" method="post" class="form-" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Cargar Json</label>
                                    <input type="file" name="fileToUpload" id="fileToUpload">
                                </div>
                                <button type="submit" name="submit">Cargar Presupuestos</button>
                        </div>

                        <!--BOTONES-->

                        <div class="Navegacion">
                            <a href="/" class="unBoton" style="float:left">Cancelar</a>
                            <input type="submit" class="unBoton" style="float:right;"  value="Crear egreso">
                        </div>
                </div>
            </form>
        </div>

    </div>
</body>
</html>

