<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!--    <script src="/js/generales.js"></script>-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <title>Vinculaciones</title>
  </head>
  <body>
    <header>
      <div class="image-container">
        <img src="img\utn svg.png" alt="utn logo" class="logo-utn">
        <img src="img\dieño svg.png" alt="diseniologo" style="" class="logo-sist">
      </div>
    </header>

    <div>
      <div class="table-wrapper">
          <table class="tabla" id="tabla">
              <thead>
              <th><i class="fas fa-fingerprint"></i> Id Ingreso </th>
              <th><i class="fas fa-fingerprint"></i> Id Egreso </th>
              <th><i class="fas fa-dollar-sign"></i> Monto Vinculado </th>
              </thead>
              <tbody>
              {{#each vinculaciones}}
                  <tr>
                      <td> {{operacionIngresoID}} </td>
                      <td>{{operacionEgresoID}}</td>
                      <td>{{montoVinculado}}</td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
          <div class="btn-wrapper">
            <a href="/" class="btn" style="">Volver</a>
          </div>
        </div>
    </div>
  </body>
  </html>
