<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <title>Vinculacion</title>
</head>
<body>
    <header>
      <div class="image-container">
        <img src="img\utn svg.png" alt="utn logo" class="logo-utn">
        <img src="img\dieño svg.png" alt="diseniologo" style="" class="logo-sist">
      </div>
    </header>
<div class="main-container" style="">
    <div style="width: 50%; margin-top:15px;">
        <form class="" action="/vinculacion" method="post" >
            <div class="btn-wrapper">
                <select class="select-criterio" name="criterio" style="width: 50%">
                    <option selected disabled>Seleccionar</option>
                    <option value="CRITERIO_VALOR_PRIMERO_INGRESO">Primero Ingresos</option>
                    <option value="CRITERIO_VALOR_PRIMERO_EGRESO">Primero Egresos</option>
                    <option value="CRITERIO_FECHA">Por Fecha</option>
                    <option value="CRITERIO_MIX_FECHA_VALOR">Mix Fecha Valor</option>
                    <option value="CRITERIO_MIX_VALOR_FECHA">Mix Valor Fecha</option>  
                </select>
                <input disabled type="submit" name="" class="btn send" style="float:right;"  value="Vincular">
            </div>
        </form>
        <div class="btn-wrapper">
            <a href="/" class="btn" style="">Volver</a>
        </div>
    </div>
</div>

    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
</body>
</html>
